@media print {
    @page {
        size: 29.7cm 24cm;
        margin-top: 1.5cm;
        margin-bottom: 1.5cm;
        margin-left: 1.5cm;
        margin-right: 1.5cm;
        break-inside: auto;

        @bottom-left {
            content: counter(page) ' of ' counter(pages);
        }
    }

    header {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    footer {
        width: 100%;
        text-align: right;
        display: flex;
        flex-direction: row;  
        justify-content: space-between;   
        padding: 0;
        margin: 0;
        padding-top: 0.4cm;
        padding-right: 1cm;
    }

    body {
        background-color: lightblue;
        margin: 0;
        padding: 0;
        width: 26.7cm;
        height: 21cm;
    }

    .printContent {
        padding: 0;
        margin: 0;
    }

    .voucherHeader {
        padding: 0;
        margin: 0;
        margin-bottom: 0.4cm;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .headColumn {
        word-wrap: normal;
        padding: 0;
        margin: 0;
        margin-right: 5mm;
    }

    .voucherBody {
        width: 100%;
    }

    .rowNumber {
        width: 1cm;
        padding-top: 0.2cm;
        padding-bottom: 0.2cm;
        text-align: center;
    }

    .recipient {
        width: 1.5cm;
        text-align: center;
    }

    .opName {
        width: 3cm;
        text-align: center;
    }

    .deptName {
        width: 2.5cm;
        text-align: center;
    }

    .lpName {
        width: 3cm;
        text-align: center;
    }

    .lpModel {
        width: 2.5cm;
        text-align: center;
    }

    .lpUnit {
        width: 1cm;
        text-align: center;
    }

    .quantity {
        width: 2cm;
        text-align: center;
    }

    .quantityBody {
        width: 1.5cm;
        padding-right: 0.1cm;
        text-align: right;
    }

    .description {
        width: 3.8cm;
        text-align: center;
    }

    .sign {
        width: 3cm;
        text-align: center;
    }


    table {
        border: 1px solid #000000;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #000000;
        height: auto;
        /* height: 1.5cm; */
    }

}